<div class="sideber" [ngClass]="collapsed ? 'sidebar-collapsed':''">
    <div class="logo-container">
        <button class="logo" (click)="toggleCollapse()">D</button>
        <div class="logo-text" *ngIf="collapsed">Dashboard</div>
        <button class="btn-close" *ngIf="collapsed" (click)="closeSidebar()">
            <i class="fa-solid fa-xmark"></i></button>
    </div>
    <ul class="sidebar-nav">
        <li class="sidebar-nav-item" *ngFor="let data of navData">
            <a [routerLink]="[data.routeLink]" class="sidebar-nav-link"
            routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                <i class="sidebar-nav-icon" [class]="data.icon">
                    <span class="sidebar-link-text" *ngIf="collapsed">{{data.label}}</span>
                </i>
            </a>
        </li>
    </ul>
</div>
